#logo{
    width: 200px;
    padding-top: 120px;
}


#site_header{
    background-color: #4ea1fe;
    background-image: url("../img/sfondo.png");
    height: 180px;   
    margin-bottom: -50px;
    margin-top: -75px;
    
}


#sfondo_logo{
    width: 150px;
}


#title{
    color: #979796;
    margin-bottom: -10px;
}


#titolo_articolo{
    font-size: 75px;
    margin-bottom: -15px;
}


#title2{
    color: #7cccf0;
}

#text{
    background-color: yellow;
}

#text1{
    font-size: 15px;
    margin-top: -5px;
}


#first_photo{
    margin-top: 50px;
}


#table_text{
    border-collapse: collapse;
    margin: 0;
}
#table_text thead{
    background-color: #20a9e5;
    color: white;
}
#back_color{
    background-color: #b0e5f3;
}






